<!DOCTYPE html>
<html>
<head>
    <title>vue-demo</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/icheck@1.0.2/skins/square/_all.css">
</head>
<body>
    <div id="app">
        <h2>vue-demo</h2>
        <p>
            <label><icheck v-model="selectAll"></icheck> 全选</label>
        </p>
        <p>
            <template v-for="item in list">
                <label style="margin-right: 10px;"><icheck-multi v-model="selectNames" :value="item.val" name="ssss"></icheck-multi> {{ item.name }}</label>
            </template>
        </p>
    </div>

    <script type="text/x-template" id="vue-icheck">
        <input type="checkbox" :checked="checked">
    </script>
    <script type="text/x-template" id="vue-icheck-multi">
        <input type="checkbox" :checked="checked">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/icheck@1.0.2/icheck.min.js"></script>
    <script src="demo.js"></script>
</body>
</html>
